interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.arbeitnow.com/api/job-board-api?page=1
  response:
    body:
      string: '{"data":[{"slug":"senior-internal-auditor-berlin-437318","company_name":"SumUp","title":"Senior
        Internal Auditor","description":"<p><strong>Senior Internal Auditor, London,
        Berlin<\/strong><\/p>\n<p>Our passion at SumUp is championing small businesses.
        We believe in creating technology that is flexible, fair, affordable and easy
        to use. Every day millions of people around the world dream of starting their
        own businesses. We strive to help them to do this. Our long-term goal is to
        close the loop by enabling businesses to turn transactions with customers
        into long-term relationships.&nbsp;<\/p>\n<p>We are looking for a Senior Internal
        Auditor to join our team at SumUp and help us ensure compliance, assess risks,
        and strengthen internal controls within the organisation, with a particular
        focus on European regulation. The Senior Internal Auditor will help implement
        the best industry practices for a robust and proactive internal auditing function
        at SumUp.<\/p>\n<p>The Senior Auditor will report directly to the Global Head
        of Internal Audit. This person will work closely with the Board, Audit Committee,
        key stakeholders and external auditors. This is an individual contributor
        role. If you''re looking for a role where your work genuinely matters and
        your voice is heard, this is it.<\/p>\n<p><strong>What you''ll do:<\/strong><\/p>\n<ul>\n<li>Plan
        and conduct regulatory, compliance, and operational audits across SumUp''s
        European markets<\/li>\n<li>Prepare audit reports, present findings to management,
        and recommend improvements<\/li>\n<li>Contribute towards the development and
        improvement of the Internal Audit plan, framework, methodology and templates<\/li>\n<\/ul>\n<ul>\n<li>Coordinate
        internal audit-related projects together with the relevant teams<\/li>\n<li>Manage
        relationships with stakeholders and foster a proactive culture towards internal
        controls and compliance<\/li>\n<\/ul>\n<p>&nbsp;<\/p>\n<p><strong>You''ll
        be great for this role if:<\/strong><\/p>\n<ul>\n<li>Strong audit experience
        in financial services, ideally within payments or regulated fintech<\/li>\n<li>Deep
        knowledge of the European regulatory environment and internal controls frameworks<\/li>\n<li>Comfort
        operating in large, complex, international organisations where priorities
        shift<\/li>\n<li>Exceptional stakeholder management skills, with the ability
        to act as a credible partner at all levels<\/li>\n<li>A natural curiosity
        for data, with the ability to look beyond the numbers and draw sound conclusions<\/li>\n<li>Fluency
        in German (written and spoken if based in Berlin)<\/li>\n<\/ul>\n<h2><strong>Why
        you should join SumUp<\/strong><\/h2>\n<p><strong>London<\/strong> \ud83c\uddec\ud83c\udde7<\/p>\n<ul>\n<li>\ud83c\udf0e
        Opportunity to work with a truly global, multicultural team from our central
        Covent Garden location, wrapped in historic charm and modern flair. This involves
        an office-first setup<\/li>\n<li>\ud83c\udf08 Commitment to Diversity and
        Inclusion: be part of a workplace that values and promotes diversity, fostering
        an inclusive environment where everyone''s perspectives are respected and
        embraced<\/li>\n<li>\ud83d\ude80 Enrolment onto our Virtual Stock Option programme:
        you will own a stake in SumUp''s future success<\/li>\n<li>\ud83c\udfd6 Generous
        time off: enjoy 28 days of paid leave, plus bank holidays and special leaves<\/li>\n<li>\ud83d\udcda
        A dedicated annual L&amp;D budget for attending co[...]
[...]
