interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://jobicy.com/api/v2/remote-jobs?count=5
  response:
    body:
      string: "{\"apiVersion\":\"2.2.13\",\"documentationUrl\":\"https:\\/\\/jobi.cy\\/apidocs\",\"friendlyNotice\":\"Thanks
        for using the Jobicy API in your projects! Please make sure Jobicy is clearly
        credited as the source and that users are redirected to our website to apply
        for jobs. Note that listings are published in the API with a slight delay
        after appearing on our site. As our data doesn\u2019t change frequently, we
        recommend fetching the feed a few times per day. Excessive requests may result
        in restricted access. Thanks for your understanding!\",\"jobCount\":5,\"xRayCache\":\"9facc0d693fe07df344d791863902b1f\",\"clientKey\":\"d74d7a6350ffbcdbb56b1f400f621aa711dbf62194077451f4bc8797d139f848\",\"lastUpdate\":\"2026-04-23T02:36:49+00:00\",\"appliedFilters\":{\"count\":5},\"jobs\":[{\"id\":142416,\"url\":\"https:\\/\\/jobicy.com\\/jobs\\/142416-canada-customer-operation-launch-manager\",\"jobSlug\":\"142416-canada-customer-operation-launch-manager\",\"jobTitle\":\"(Canada)
        Customer Operation Launch Manager\",\"companyName\":\"PointClickCare\",\"companyLogo\":\"https:\\/\\/jobicy.com\\/data\\/server-nyc0409\\/galaxy\\/mercury\\/2022\\/02\\/94d5c7bae5858d7e126022ed422c639c.jpeg\",\"jobIndustry\":[\"Customer
        Success\"],\"jobType\":[\"Full-Time\"],\"jobGeo\":\"Canada\",\"jobLevel\":\"Midweight\",\"jobExcerpt\":\"Reporting
        to the Manager, Customer Care Launch, you will act as the primary internal
        liaison to lead the launch of new products within Professional Services and
        Customer Support. This role...\",\"jobDescription\":\"<p>Reporting to the
        Manager, Customer Care Launch, you will act as the primary internal liaison
        to lead the launch of new products within Professional Services and Customer
        Support. This role will be responsible for mobilizing cross-functional efforts,
        defining implementation and support strategies, developing tools and executing
        programs that will drive the launch of world class products to its customers.
        This role demands a strong project manag[...]
