interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.adzuna.com/v1/api/jobs/gb/search/1?app_id=FAKE_APP_ID&app_key=FAKE_APP_KEY&what=python+developer&results_per_page=5&content-type=application%2Fjson
  response:
    body:
      string: '{"results":[{"longitude":-4.25596,"latitude":55.86026,"description":"Role:
        Python Developers Glasgow Location: Glasgow (5 days onsite) Mode of work:
        Contract and Permanent Type of work: Fully onsite Domain: Banking / Finance
        / Trading Market Risk Skills: Strong Python application development in banking/risk
        applications & calc engines Exposure to cloud technologies Familiarity with
        Athena ecosystem or similar (SecDB, Quartz) Note: not AWS Athena Trade Lifecycle
        / Market Risk / Risk platform experience Kubernetes & Docker preferred. Job
        Description: Python Role D…","company":{"display_name":"Purview Consultancy
        Services Ltd","__CLASS__":"Adzuna::API::Response::Company"},"contract_type":"contract","category":{"label":"IT
        Jobs","tag":"it-jobs","__CLASS__":"Adzuna::API::Response::Category"},"created":"2026-04-22T10:36:00Z","location":{"area":["UK","Scotland","Glasgow"],"display_name":"Glasgow,
        Scotland","__CLASS__":"Adzuna::API::Response::Location"},"salary_max":71652.72,"id":"5707019777","redirect_url":"https://www.adzuna.co.uk/jobs/land/ad/5707019777?se=FAKE_SE&utm_medium=api&utm_source=FAKE_APP_ID&v=FAKE_V","__CLASS__":"Adzuna::API::Response::Job","adref":"FAKE_ADREF","salary_is_predicted":"1","salary_min":71652.72,"title":"Python
        Developer"},{"location":{"__CLASS__":"Adzuna::API::Response::Location","area":["UK","Northern
        Ireland","Belfast"],"display_name":"Belfast, Northern Ireland"},"salary_max":90000,"created":"2026-04-02T20:36:55Z","__CLASS__":"Adzuna::API::Response::Job","id":"5687661760","redirect_url":"https://www.adzuna.co.uk/jobs/land/ad/5687661760?se=FAKE_SE&utm_medium=api&utm_source=FAKE_APP_ID&v=FAKE_V","adref":"FAKE_ADREF","salary_is_predicted":"0","description":"Senior
        Python[...]
