interactions:
- request:
    body: null
    headers:
      Authorization-Key:
      - FAKE_USAJOBS_API_KEY
    method: GET
    uri: https://data.usajobs.gov/api/search?Keyword=software+engineer&Page=1&ResultsPerPage=25
  response:
    body:
      string: "{\"LanguageCode\":\"EN\",\"SearchParameters\":{},\"SearchResult\":{\"SearchResultCount\":25,\"SearchResultCountAll\":69,\"SearchResultItems\":[{\"MatchedObjectId\":\"865881200\",\"MatchedObjectDescriptor\":{\"PositionID\":\"FSA-2026-0065\",\"PositionTitle\":\"IT
        Spec (APPSW) \\\"Principal Software Engineer\\\", GS-2210-15, FPL GS-15 (DH),
        Full-time\",\"PositionURI\":\"https://www.usajobs.gov:443/job/865881200\",\"ApplyURI\":[\"https://www.usajobs.gov:443/job/865881200\"],\"PositionLocationDisplay\":\"Multiple
        Locations\",\"PositionLocation\":[{\"LocationName\":\"San Francisco, California\",\"CountryCode\":\"United
        States\",\"CountrySubDivisionCode\":\"California\",\"CityName\":\"San Francisco,
        California\",\"Longitude\":-122.4196,\"Latitude\":37.7771},{\"LocationName\":\"Denver,
        Colorado\",\"CountryCode\":\"United States\",\"CountrySubDivisionCode\":\"Colorado\",\"CityName\":\"Denver,
        Colorado\",\"Longitude\":-104.992256,\"Latitude\":39.74001},{\"LocationName\":\"Washington,
        District of Columbia\",\"CountryCode\":\"United States\",\"CountrySubDivisionCode\":\"District
        of Columbia\",\"CityName\":\"Washington, District of Columbia\",\"Longitude\":-77.032,\"Latitude\":38.8904},{\"LocationName\":\"Atlanta,[...]
[...]
