interactions:
- request:
    body: '{"keywords": "software engineer", "location": "", "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://jooble.org/api/FAKE_JOOBLE_API_KEY
  response:
    body:
      string: "{\"totalCount\":415492,\"jobs\":[{\"title\":\"Sr Full Stack Software
        Engineer - Clearance Required\",\"location\":\"Butler, MD\",\"snippet\":\"&nbsp;...fit,
        click here to submit a referral. If your referral is hired, you'll receive
        a payment! code-extrefer \\r\\n Senior Full Stack <b>Software Engineer </b>-
        Clearance Required \\r\\n WHAT WE'RE DOING \\r\\n\u2022 Join Lockheed Martin
        Rotary and Mission Systems, Cyber & Intelligence, where we foster...&nbsp;\",\"salary\":\"\",\"source\":\"PJA.J-VERS.US\",\"type\":\"\",\"link\":\"https://jooble.org/jdp/2491880986427049414\",\"company\":\"Lockheed
        Martin\",\"updated\":\"2026-04-23T00:00:00.0000000\",\"id\":2491880986427049414},{\"title\":\"Senior
        Software Engineer - Radar Modeling and Simulation\",\"location\":\"Doylestown,
        PA\",\"snippet\":\"&nbsp;...the skills needed to create cutting-edge products
        & solutions that keep our users Ahead of Ready. \\r\\n Who You Are \\r\\n
        As a Senior <b>Software Engineer </b>in the Radar Modeling and Simulation
        group, you will develop high performance C++ software. Your contributions
        will directly...&nbsp;\",\"salar[...]
