interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://himalayas.app/jobs/api?limit=1&offset=0
  response:
    body:
      string: "{\"comments\":\"13/03/2026: The API has been updated to include the
        companySlug field in the response.\",\"updatedAt\":1776989118,\"offset\":0,\"limit\":1,\"totalCount\":100616,\"jobs\":[{\"title\":\"Python
        Engineer II  (Contract)\",\"excerpt\":\"Fliff unpacks sports gaming into social,
        free-to-play games for all types of sports fans.\",\"companyName\":\"Fliff\",\"companySlug\":\"fliff\",\"companyLogo\":\"https://cdn-images.himalayas.app/dxdk89pmuyfejbuuentkqj5wjsq6\",\"employmentType\":\"Contractor\",\"minSalary\":null,\"maxSalary\":null,\"seniority\":[\"Mid-level\"],\"currency\":\"USD\",\"locationRestrictions\":[\"Poland\"],\"timezoneRestrictions\":[1],\"categories\":[\"Backend-Engineering\",\"Python-Development\",\"Software-Engineering\",\"Backend-Development\",\"Engineering\"],\"parentCategories\":[],\"description\":\"<div><a
        href=\\\"https://himalayas.app/companies/fliff\\\">Fliff</a> unpacks sports
        gaming into social, free-to-play games for all types of sports fans. We've
        built a social sports gaming experience that allows users to compete for leaderboard
        positioning, to achieve badges and build their status within the game.</div><div>We
        are pioneering play-for-fun sports gaming, with our flagship social sportsbook
        experience that includes sweepstakes promotions and loyalty rewards. We provide
        sports fans with fun, engaging, and free-to-play alternatives to real money
        gaming.</div><div>We are seeking a Middle Python Developer to contribute to
        backend service development in a distributed environment. You will own features
        and collaborate to deliver reliable, maintainable backend services using Python
        and Django. </div><div>This role requires full working-hour alignment with
        Central European Time (CET \xB12 hours) to enable daily, real-time collaboration
        with our Sofia-based team. We are only considering candidates located within
        this time zone range. Applicants outside CET \xB12 hours will not be considered.</div><h3>What
        You\u2019ll Do</h3><ul><li>Take ownership of assigned backend features and
        services from development through deployment and support</li><li>Develop backend
        APIs and services using Python and Django</li><li>Work on message-driven systems
        (Kafka)</li><li>Write clean, reliable, and well-tested code (unit and integration
        tests)</li><li>Collaborate with team members to design scalable solutions
        and meet delivery deadlines</li><li>Participate in code reviews</li><li>Assist
        in the [...]
[...]
