interactions:
- request:
    body: null
    headers:
      X-RapidAPI-Host:
      - jsearch.p.rapidapi.com
      X-RapidAPI-Key:
      - FAKE_JSEARCH_API_KEY
    method: GET
    uri: https://jsearch.p.rapidapi.com/search?num_pages=1&page=1&query=python+developer+in+Atlanta%2C+GA
  response:
    body:
      string: "{\"status\":\"OK\",\"request_id\":\"ae3d4e29-c580-41c9-94fa-7dbe57c6e6b6\",\"parameters\":{\"query\":\"python
        developer in Atlanta, GA\",\"page\":1,\"num_pages\":1,\"country\":\"us\",\"language\":\"en\"},\"data\":[{\"job_id\":\"_sRDBC5uS_wC21KeAAAAAA==\",\"job_title\":\"Python
        - Software Engineer, AI\",\"employer_name\":\"G2i Inc.\",\"employer_logo\":\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx4amU4DHDNSbMlrpsIpIR6mIm_3fqgBklorKM&s=0\",\"employer_website\":\"https://www.g2i.co\",\"job_publisher\":\"ZipRecruiter\",\"job_employment_type\":\"Contractor\",\"job_employment_types\":[\"CONTRACTOR\"],\"job_apply_link\":\"https://www.ziprecruiter.com/c/G2i/Job/Python-Software-Engineer,-AI/-in-Atlanta,GA?jid=35fb9519bb9281a5\",\"job_apply_is_direct\":false,\"apply_options\":[{\"apply_link\":\"https://www.ziprecruiter.com/c/G2i/Job/Python-Software-Engineer,-AI/-in-Atlanta,GA?jid=35fb9519bb9281a5\",\"is_direct\":false,\"publisher\":\"ZipRecruiter\"}],\"job_description\":\"Before
        applying\\n\\nThis role is open to contractors in accepted locations only.
        Please confirm your country is on the list before applying - we're unable
        to process applications from unlisted locations. List of accepted countries
        and locations.\\n\\nFor US applicants\\n\\nThis is a 1099 independent contractor
        role. It is not compatible with F-1 OPT, STEM OPT, or any visa status that
        requires W-2 employment,\_guaranteed hours, or employer sponso[...]
- request:
    body: null
    headers:
      X-RapidAPI-Host:
      - jsearch.p.rapidapi.com
      X-RapidAPI-Key:
      - FAKE_JSEARCH_API_KEY
    method: GET
    uri: https://jsearch.p.rapidapi.com/search?num_pages=1&page=1&query=python+developer&remote_jobs_only=true
  response:
    body:
      string: "{\"status\":\"OK\",\"request_id\":\"202b72fc-d51d-4f6e-a178-6ccb84c50312\",\"parameters\":{\"query\":\"python
        developer\",\"page\":1,\"num_pages\":1,\"country\":\"us\",\"language\":\"en\"},\"data\":[{\"job_id\":\"RD-7O1IO_EJR3VySAAAAAA==\",\"job_title\":\"Python
        Developer\",\"employer_name\":\"CACI International Inc\",\"employer_logo\":\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ66XoBR1KPoFu_3dQXnYcmJMIETG43a4BlIqH9&s=0\",\"employer_website\":null,\"job_publisher\":\"LinkedIn\",\"job_employment_type\":\"Full-time\",\"job_employment_types\":[\"FULLTIME\"],\"job_apply_link\":\"https://www.linkedin.com/jobs/view/python-developer-at-caci-international-inc-4403233104\",\"job_apply_is_direct\":false,\"apply_options\":[{\"apply_link\":\"https://www.linkedin.com/jobs/view/python-developer-at-caci-international-inc-4403233104\",\"is_direct\":false,\"publisher\":\"LinkedIn\"}],\"job_description\":\"Job
        Title: Python Developer\\n\\nJob Category: Information Technology\\n\\nTime
        Type: Full time\\n\\nMinimum Clearance Required to Start: Secret\\n\\nEmployee
        Type: Regular\\n\\nPercentage of Travel Required: None\\n\\nType of Travel:
        None\\n\\n* * *\\n\\nThe Opportunity\\n\\nLooking for a candidate to support
        the NSWC Carderock Division's technical code with python development and database
        administration.\\n\\nResponsibilities\\n\\nWe are currently seeking a qualified
        candidate for a role requiring the following technical experience:\\n\\[...]
