interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.themuse.com/api/public/jobs?category=Software+Engineer&page=0&results_per_page=20
  response:
    body:
      string: '{"page": 0, "page_count": 1, "items_per_page": 20, "took": 4, "timed_out":
        false, "total": 13, "results": [{"contents": "<div>\n    <p>Pilotly is the
        first market research platform built for creative content. By allowing viewers
        to give feedback in real-time on unreleased content, we help Hollywood make
        better decisions through data.</p>\n    <p>Collecting millions of data points
        is a great start to understanding viewer response but creating actionable
        insights is the goal. For this we have a Studio Insights Dashboard, that allows
        professional video creators to visualize [...]
